<!DOCTYPE html>
<html>
    <head>
        <title><%=companyName%> 회사 소개</title>
    </head>

    <body>
        <h1>회사 소개 웹페이지</h1>
        <p>우리 회사는요.. 서울시 강남구 테헤란로 415 번지에 위치하구요</p>
        <p>스파크플러스 선릉점에 입주해 있는 비대면 솔루션 기업 <%=companyName%> 입니다.</p>
        <p>대표는 <%=ceo%>입니다.</p>

    </body>
</html>