<!DOCTYPE html>
<html>
    <head>
        <title>신규메인페이지</title>
    </head>

    <body>
        <h1>메인페이지</h1>
        <nav>
            <a href="/main">홈</a>
            <a href="/auth/login">로그인</a> |
            <a href="/member/entry">회원가입</a> |
            <a href="/auth/logout">로그아웃</a> |
            <a href="/products/computer">스페셜제품목록</a> |
            <a href="/contact">연락처</a> |
            <a href="/company">회사소개</a> |
            <a href="/welcome">대표인삿말</a> |
        </nav> 

        
    </body>
</html>