<!DOCTYPE html>
<html>
    <head>
        <title>연락처 정보</title>
    </head>

    <body>
        <h1>연락처</h1>
        <p>대표 메일: <%=email%></p>
        <p>전화번호: <%=telephone%></p>
        <p>주소: <%=address%></p>

    </body>
</html>