
					<div class="login-wrapper">
						<form action="/chat">
							<div class="login-screen">
								<div class="login-body">
									<a href="/chat" class="login-logo">
										<img src="img/logo.svg" alt="Quick Chat">
									</a>
									<h6>Welcome to Quick Chat App,<br>Create your account.</h6>
									<div class="field-wrapper">
										<input type="email" autofocus>
										<div class="field-placeholder">Email ID</div>
									</div>
									<div class="field-wrapper">
										<input type="password">
										<div class="field-placeholder">Password</div>
									</div>
									<div class="field-wrapper mb-3">
										<input type="password">
										<div class="field-placeholder">Confirm Password</div>
									</div>
									<div class="actions">
										<button type="submit" class="btn btn-primary ml-auto">Sign Up</button>
									</div>
								</div>
								<div class="login-footer">
									<span class="additional-link">Have an account? <a href="/login" class="btn btn-secondary">Login</a></span>
								</div>
							</div>
						</form>
					</div>

