<!-- 오른쪽 로그인창 -->
<div class="login-wrapper">
	<form action="/chat">
	  <div class="login-screen">
		<div class="login-body">
		  <a href="/chat" class="login-logo">
			<img src="img/logo.svg" alt="Quick Chat" />
		  </a>
		  <h6>Welcome back,<br />Please login to your account.</h6>
		  <div class="field-wrapper">
			<input type="email" autofocus />
			<div class="field-placeholder">Email ID</div>
		  </div>
		  <div class="field-wrapper mb-3">
			<input type="password" />
			<div class="field-placeholder">Password</div>
		  </div>
		  <div class="actions">
			<a href="/find">Forgot password?</a>
			<button type="submit" class="btn btn-primary">Login</button>
		  </div>
		</div>
		<div class="login-footer">
		  <span class="additional-link"
			>No Account?
			<a href="/entry" class="btn btn-secondary"
			  >Sign Up</a
			></span
		  >
		</div>
	  </div>
	</form>
</div>
