<!DOCTYPE html>
<html>
    <head>
        <title>Article List</title>
    </head>

    <body>
        <h1>Article List</h1>
        <a href="/article/create">Create Article</a>

        <a href="/article/modify">Modify Article</a>


       
    </body>
</html>