

            <!--우측 콘텐츠 헤더영역 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>관리자 정보 등록</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home ></a>
                        </li>
                        <li>
                            <a>관리자 정보 등록 ></a>
                        </li>
                        <li class="active">
                            <strong>조회</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <!--우측 콘텐츠 영역 -->
            <form action="/admin/create" method="post">
                <div class="wrapper wrapper-content">
                    <div class="ibox-content m-b-sm border-bottom">


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">소속회사코드</label>
                                    <input type="text" name="companyCode" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">부서명</label>
                                    <input type="text" name="deptName" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">관리자이름</label>
                                    <input type="text" name="adminName" class="form-control">
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">관리자메일주소</label>
                                    <input type="text" name="email" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">관리자비밀번호</label>
                                    <input type="password" name="adminPassword" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">관리자전화번호</label>
                                    <input type="telephone" name="telephone" class="form-control">
                                    </select>
                                </div>
                            </div>

                        </div>


                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">저장</button>
                            <a href="/admin/list" class="btn btn-info">목록</a>
                        </div>

                    </div>
                </div>
            </form>


    <script>

    </script>

</body>

</html>