



				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="login-wrapper">

						<form action="/entry" method="post" id="entryForm">

							<div class="login-screen">
								<div class="login-body">
									<a href="index.html" class="login-logo">
										<img src="img/logo.svg" alt="Quick Chat">
									</a>
									<h6>Welcome to Quick Chat App,<br>Create your account.</h6>
									<div class="field-wrapper">
										<input type="email" name="email" id="email" autofocus>
										<div class="field-placeholder">Email ID</div>
									</div>
									<div class="field-wrapper">
										<input type="password" name="password" id="password">
										<div class="field-placeholder">Password</div>
									</div>
									<div class="field-wrapper mb-3">
										<input type="password" id="confirmpassword">
										<div class="field-placeholder">Confirm Password</div>
									</div>
									<div class="actions">
										<button type="submit" class="btn btn-primary ml-auto">Sign Up</button>
									</div>
								</div>
								<div class="login-footer">
									<span class="additional-link">Have an account? <a href="login.html" class="btn btn-secondary">Login</a></span>
								</div>
							</div>
						</form>
					</div>
				</div>


<script>

	$(document).ready(function(){
		$("#email").focus();
	});

	$("#entryForm").submit(function(){

		if($("#email").val() == ""){
			alert("메일주소를 입력해주세요.");
			$("#email").focus();
			return false;
		}

		if($("#password").val() == ""){
			alert("암호를 입력해주세요.");
			$("#password").focus();
			return false;
		}

		if($("#confirmpassword").val() == ""){
			alert("암호 재확인값을 입력해주세요.");
			$("#confirmpassword").focus();
			return false;
		}

		if($("#password").val() != $("#confirmpassword").val()){
			alert("암호값이 일치하지 않습니다.");
			$("#password").val("");
			$("#confirmpassword").val("");
			$("#password").focus();
			return false;
		}
		return true;
	});


</script>

