<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Account List</title>
    <!-- Add your stylesheets or other head content here -->
</head>
<body>

    <h1>Member Account List</h1>

    <a href="/member/create">
        <button>Create Member</button>
    </a>

    <a href="/member/modify/1">
        <button>Modify Member</button>
    </a>

    
</body>
</html>
