<!DOCTYPE html>
<html>
    <head>
        <title>신규 회원가입 웹페이지</title>
    </head>

    <body>
        <h1>신규 회원가입 페이지</h1>

        <!-- form 태그의 목적은 사용자로부터 데이터를 입력받아 서버로 전송해주는 역할 제공
        form 태그의 속성으로는 action, method가 있음 -->

        <form action="/member/join" method="get" onsubmit="return fnFormCheck();">

            메일주소: <input type="text" name="email" id="email"/> <br/>

            암호: <input type="password" name="password" id="password"/> <br/>

            이름: <input type="text" name="name" id="name"/> <br/>

            전화번호: <input type="text" name="telephone" id="telephone"/> <br/>

            <input type="submit" vlaue="회원가입"/>
        </form>

        <script>

            // 폼 사용자 입력 값 유효성 검사 체크 함수
            function fnFormCheck(){
                if(document.getElementById('email').value == ''){
                    alert('메일 주소를 입력해주세요. -.-');
                    document.getElementById('email').focus();
                    return false;
                }
                if(document.getElementById('password').value == ''){
                    alert('암호를 입력해주세요. -.-');
                    document.getElementById('password').focus();
                    return false;
                }
                if(document.getElementById('name').value == ''){
                    alert('이름을 입력해주세요. -.-');
                    document.getElementById('name').focus();
                    return false;
                }
                if(document.getElementById('telephone').value == ''){
                    alert('전화번호를 입력해주세요. -.-');
                    document.getElementById('telephone').focus();
                    return false;
                }
                return true;
            }
        </script>
    </body>
</html>