    <!-- 로그인 세션 -->
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="login-wrapper">
            <form action="/login" method="post">
                <div class="login-screen">
                    <div class="login-body">
                        <a href="/" class="login-logo">
                            <img src="img/logo.svg" alt="Quick Chat">
                        </a>
                        <h6>Welcome back,<br>Please login to your account.</h6>
                        <div class="field-wrapper">
                            <input type="email" name="email" autofocus>
                            <div class="field-placeholder">Email ID</div>
                        </div>
                        <div class="field-wrapper mb-3">
                            <input type="password" name="password">
                            <div class="field-placeholder">Password</div>
                        </div>
                        <div class="actions">
                            <a href="/find">비밀번호 찾기</a>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <p id="message" style="color: red;"></p>
                    </div>
                    <div class="login-footer">
                        <span class="additional-link">No Account? <a href="/entry" class="btn btn-secondary">Sign Up</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>  
        var result = "<%=resultMsg%>";
    
        if(result != "") {
            document.getElementById('message').innerText = result;
        }
    </script>     