<html>
    <body>
        <h1>상품목록페이지</h1>
    </body>

    <table>

        <thead>
            <tr>
                <th>제품번호</th>
                <th>제품명</th>
                <th>가격</th>
                <th>재고수량</th>
            </tr>

        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td><a href='/product/detail?pid=1&pname=노트북'>노트북</a></td>
                <td>6000</td>
                <td>5</td>
            </tr>
        </tbody>
        
    </table>
</html>