<!DOCTYPE html>
<html>
    <head>
        <title>Find</title>
    </head>

    <body>
        <section class="login-form">
            <h1>Find</h1>
            <form action='/find' method='POST'>
                <div class="int-area">
                    <input type="text" name="id" id="id">
                    <label for="id">USER NAME</label>
                </div>
                <div class="int-area">
                    <input type="text" name="email" id="email">
                    <label for="email">USER EMAIL</label>
                </div>
                </div>
                <div class="btn-area">
                    <button id="btn" type="submit">LOGIN</button>
                </div>
            </form>
        </section>
    </body>
</html>