<!DOCTYPE html>
<html>
  <head>
    <title>Main</title>
  </head>
  <body>
    <h1>Main Page</h1>

    <a href="/login">
      <button>Login</button>
    </a>
    <a href="/entry">
      <button>Entry</button>
    </a>
    <a href="/find">
      <button>Find</button>
    </a>


  </body>
</html>
